@font-face {
  font-family: 'iconfont';  /* Project id 2625571 */
  src: url('//at.alicdn.com/t/font_2625571_ewkug1f25l.woff2?t=1624347079025') format('woff2'),
       url('//at.alicdn.com/t/font_2625571_ewkug1f25l.woff?t=1624347079025') format('woff'),
       url('//at.alicdn.com/t/font_2625571_ewkug1f25l.ttf?t=1624347079025') format('truetype');
}

.iconfont {
  font-family: "iconfont";
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
