@font-face {
  font-family: 'iconfont';  /* Project id 2625571 */
  src: url('//at.alicdn.com/t/font_2625571_kgxc5v3aatd.woff2?t=1624341706023') format('woff2'),
       url('//at.alicdn.com/t/font_2625571_kgxc5v3aatd.woff?t=1624341706023') format('woff'),
       url('//at.alicdn.com/t/font_2625571_kgxc5v3aatd.ttf?t=1624341706023') format('truetype');
}

.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
